.jumbotron{
  font-size: 150%;
  font-family:sans-serif "calibri";
  text-align: center;
  padding: 80px;
  opacity:0.8;
  background-color: red;
}
.float-left-area{
  width: 25%;
  float: left;
  padding: 10px;
  margin-left: -20px;
  height:100%;
  margin-top: 20px;
}
.inner-left{
  padding: 10px;
  padding-bottom: 500px;
  min-height:700px;
  background-color:#4bb742;
}
h3{
  color:#FFD7A2;
}
.float-left-area,.p{
  color: white;
}
.name{
  color: blue;
}
.about{
  color: black;
}
.float-right-area{
  width:70%;
  float:left;
  padding:20px;
  opacity:0.8;
}
.inner-right{
  padding:20px;
  min-height:500px;
  background-color: white;
}
.inner-right.p{
  font-size: 60%;
}
body{
  background-image: url("../img/pingpong.png");
  background-attachment: fixed;
}
