.jumbotron{
  font-size: 150%;
  font-family:sans-serif "calibri";
  background-color: #e5b252;
  text-align: center;
  padding: 80px;
}
.float-left-area{
  width: 25%;
  float: left;
  padding: 10px;
  margin-left: -20px;
  height:100%;
  margin-top: 20px;
}
.inner-left{
  padding: 10px;
  padding-bottom: 500px;
  min-height:700px;
  background-color:#4bb742;
}
h3{
  color:#FFD7A2;
}
.float-left-area,.p{
  color: white;
}
.name{
  color: blue;
}
h2{
  color: black;
}
.float-right-area{
  width:70%;
  float:left;
  padding:20px;
}
.inner-right{
  padding:20px;
  min-height:500px;
}
.inner-right.p{
  font-size: 60%;
}
body{
  background-color:#dee2e8;
}
